/* // Index
  1: Body, image, and text
  2: Navigation
  3: Bulbs




/* rgba(77, 202, 203, 1) */
/* Background = #161111 */
/* References: */
/* Image by Ranjith Siji from Pixabay  */
/* <a href="https://icons8.com/icon/61246/small-business">Small Business icon by Icons8</a> */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Sofia');

/* // 1:________________________________________ */

body {
  height: 100%;
  width: 100%;
  background: #161111 ;
  /* background-image: url("images/bulbs2.png"); */
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content:center;
  align-items:center;
  display:flex;
}

#canvas {
  height: 100%;
  width: 100%;
}

#logo {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text{
  position: absolute;
  font-weight:100;
  font-size:28px;
  color: rgb(239, 225, 201);
  /* color:#fafafa; */
  top: 65%;
  font-family: 'Sofia', cursive;
}

.dud{
  color:#757575;
}

/* 2:________________________________________  */

.navbutton {
  top: 45%;
  left: 20px;
  z-index: 1;
  position: fixed;
  color: rgb(77, 202, 203);
}

.option{
  top: 15%;
  left: 35%;
  position: relative;
}

.sidenav {
  height: 100%;
  top: 0;
  width: 0;
  position: fixed;
  left: 0;
  background-color: rgb(77, 202, 203);
  opacity: 0.5;
  overflow-x: hidden;
  transition: 0.5s;
  align-items: center;
  display: block;
}

.sidenav:hover {
  opacity: 1.0;
}

.sidenav a {
  padding: 15px 15px 32px 32px;
  text-decoration: none;
  font-size: 30px;
  color: rgba(77, 202, 203, 0.5);
  display: block;
  transition: 0.3s;
  font-family: 'Sofia', cursive;
}

.sidenav a:hover {
  transform: scale(1.2);
  color: rgb(239, 225, 201);
  transition: 0.2s linear;
  cursor:pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* 3:________________________________________  */

#bulb {
  position: fixed;
  background-color: white;
  z-index: -1;
}

.bulb1 path {
  animation: move 4s infinite;
}
.bulb2 path {
  animation: move 3s infinite;
}
.bulb3 path {
  animation: move 5s infinite;
}
#line1 {
  animation: move 4s infinite;
}

#line2 {
  animation: move 3s infinite;
}

#line3 {
  animation: move 5s infinite;
}

@keyframes move {
  0% {  transform: translateY(10px);}
  10% { transform: translateY(12px);}
  20% { transform: translateY(14px);}
  30% { transform: translateY(16px);}
  40% { transform: translateY(18px);}
  50% { transform: translateY(20px);}
  60% { transform: translateY(18px);}
  70% { transform: translateY(16px);}
  80% { transform: translateY(14px);}
  90% { transform: translateY(12px);}
  100% {transform: translateY(10px);}
}

@keyframes light {
  100% {box-shadow: outset 30px 30px 30px 5px gold;
  stroke: gold;
 }
}

#tungsten1 {
  animation: light 2s infinite;
}
